#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#card-container {
  height: 80vh;
  min-width: 500px;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex: 0 0 fit-content;
}

#card-content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
